<!-- BEGIN HEADER -->

<div class="page-header-inner ">
    <div class="page-logo" style="padding: 0px;">
        <img src="/images/logo.png" alt="logo" style="margin-top: 15px;">
    </div>
    <div class="page-top">
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <span class="username username-hide-on-mobile"> admin </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="page_user_profile_1.html">
                                <i class="icon-user"></i> 个人信息 </a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="logout();">
                                <i class="icon-calendar"></i> 退出 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
