<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu "
        data-keep-expanded="false"
        data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item" ng-class="{true:'start active open',false:''}[nowState=='templateMake']"
            ng-click="menuClick('templateMake');">
            <a href="javascript:;" class="nav-link nav-toggle" ui-sref="index.templateMake">
                <i class="icon-home"></i>
                <span class="title">模板制作</span>
                <span class="selected" ng-if="nowState=='templateMake'"></span>
                <span class="arrow open"></span>
            </a>
        </li>
        <li class="nav-item" ng-click="menuClick('templateGroup','模板分组管理');"
            ng-class="{true:'start active open',false:''}[nowState=='templateGroup']">
            <a href="javascript:;" class="nav-link nav-toggle" ui-sref="index.templateGroup">
                <i class="icon-diamond"></i>
                <span class="title">模板分组管理</span>
                <span class="selected" ng-if="nowState=='templateGroup'"></span>
                <span class="arrow open"></span>
            </a>
        </li>
        <li class="nav-item" ng-click="menuClick('workstation','工作点管理');"
            ng-class="{true:'start active open',false:''}[nowState=='workstation']">
            <a href="javascript:;" class="nav-link nav-toggle" ui-sref="admin.workstation">
                <i class="icon-settings"></i>
                <span class="title">工作点管理</span>
                <span class="selected" ng-if="nowState=='workstation'"></span>
                <span class="arrow open"></span>
            </a>
        </li>
        <li class="nav-item" ng-click="menuClick('stationQueue','工作台队列管理');"
            ng-class="{true:'start active open',false:''}[nowState=='stationQueue']">
            <a href="javascript:;" class="nav-link nav-toggle" ui-sref="admin.stationQueue">
                <i class="icon-social-dribbble"></i>
                <span class="title">工作台队列</span>
                <span class="selected" ng-if="nowState=='stationQueue'"></span>
                <span class="arrow open"></span>
            </a>
        </li>
    </ul>

</div>
