<div class="portlet light">
    <div class="portlet-body">
        <script id="myFormDesign" type="text/plain" style="width:100%;"></script>
    </div>
</div>


<script type="text/ng-template" id="preView.html">
    <div class="modal-header">
        <div class="modal-title">
            <span><h3>模板预览</h3></span>
        </div>
    </div>
    <div class="modal-body" id="modalBody">
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-white" ng-click="doCancel();">取消</button>
        <button class="btn btn-sm btn-primary" ng-click="doOk();">保存</button>
    </div>
</script>